name: Configure GitHub Pages

on:
  workflow_run:
    workflows: ["Test Automation & Publish Report"]
    types:
      - completed

jobs:
  configure-pages:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    
    permissions:
      pages: write
      id-token: write
    
    steps:
    - name: Configure GitHub Pages
      uses: actions/configure-pages@v3
